* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 400px;
    margin-top: 15px;

}


h1 {
    margin-left: 15px;
}

.nav {
    width: 350px;
    margin: 0 auto 30px;
}

.loc-desc {
    font-size: 20px;
    font-weight: bold;
}

.weather, #map {
    height: 300px;
    margin: 0 15px;
}

.weather {
    width: 400px;
    border: 1px solid gray;
    padding: 10px;
}


/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}